---
- name: Ping my hosts
  ansible.builtin.ping:

- name: Print message
  ansible.builtin.debug:
    msg: Hello world

- name: Ensure the drew user exists
  ansible.builtin.user:
    name: drew
    state: present
    create_home: yes
  become: true

- name: create directories
  ansible.builtin.file:
    path: "{{ drew_user__directory_list }}"
    state: directory
    mode: '0755'
  become: true

- name: Install base packages and ensure latest
  ansible.builtin.dnf:
    name: "{{ drew_user__all_packages_dnf }}"
    state: latest
  become: true
  when:
    - ansible_pkg_mgr == "dnf"

- name: Install base packages and ensure latest
  ansible.builtin.apt:
    name: "{{ drew_user__all_packages_apt }}"
    state: latest
  become: true
  when:
    - ansible_pkg_mgr == "apt"

- name: clone drew dotfiles
  ansible.builtin.git:
    repo: https://github.com/jac494/dotfiles.git
    dest: /home/drew/Projects/dotfiles
- name: create dotfiles symlinks

  ansible.builtin.file:
    src: "/home/drew/Projects/dotfiles/configs/{{ item.src }}"
    dest: "/home/drew/{{ item.dest }}"
    state: link
  loop:
    - { src: zshrc, dest: .zshrc }
    - { src: tmux.conf, dest: .tmux.conf }
    - { src: vimrc, dest: .vimrc }
    - { src: gdbinit, dest: .gdbinit }
    - { src: gitconfig, dest: .gitconfig }

- name: make sure zsh is set as drew shell
  ansible.builtin.user:
    name: drew
    shell: /usr/bin/zsh
  become: true

